$primary-color: #6e3cbc;
$secondary-color: #98bae7;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$text-color: #fff;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$mobile: 800px;
